*{
	margin: 0px 0px 0px 0px;
    padding:0; 
    font-family: 'Poppins', sans-serif;
}



    


header{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:space-between;
    margin-top:-30px;
    Height:150px;
    background-color: blanchedalmond;
    
   
}
header div ul{
	
	display:flex;
	flex-direction:row;
    list-style:none;
    margin-left:100px;
	padding-top:20px;
}

header div ul li a{
	
	display:flex;
	text-decoration:none;
	color:black;
	font-size:19px;
	padding:15px;
	
	
}

header .logo img{
    margin-top:25px; 
    margin-left:60px;
}

h1{
	position: relative;
	bottom: 60px;
	left: 100px;
}

.nav{
	position: relative;
	top: 40px;
}

.navigations{
    display:flex;
    padding-top:50px;
    margin-right:30px;
	position: relative;
	top: 28px;
}

.search{
    padding-right:0px;
    padding-top:-30px;
	position: relative;
	right: 20px;
	top: 3px;
   
}

 header .navigations input[type="text"]{
	height: 25px;
	width: 200px;
    outline: none;
 
}

.cart{
    padding-right:30px;
}

.account {
    padding-right:30px;
}

.order{
    padding-left:30px;
}

.total{
  display:flex;
flex-wrap: wrap;
}

.left {
      margin-left:180px; 
      margin-top:50px;   
      
}

.left .image img {
    border-radius: 20px;
}

.left .sub-images{
    margin-top:30px;
   
}

.right{
    margin-left:150px;
    margin-top:70px;
    
}

.right h4{
    font-size: 20px;
    color: rgb(81, 130, 81);
}
.right p strong {
    color:orange;
    margin-right: 10px;
}

.right p s{
    margin-right: 10px;;
}
.right p b{
color:orange;

}


.sub-images .s1{
    border-radius:10px;
 }

.sub-images .s2{
    margin-left:22px;
   border-radius:10px;
}

.sub-images .s3{
        border-radius:10px;
        margin-left:22px;
 }

.sub-images .s4{
    margin-left:22px;
    border-radius:10px;
}

.s1:hover{
    scale: 1.06 ;
}

.s2:hover{
    scale: 1.06 ;
}

.s3:hover{
    scale: 1.06 ;
}

.s4:hover{
    scale: 1.06 ;
}

.right h2{
    font-size: 26px;
    
}

.right h3{
     font-size: 30px;
     color: crimson;
}

.right .form_list{
    display: flex;
    flex-direction: row;
}
.right .form_list .form{
    width: 10rem;
    margin-top: 15px;
}
.right .form_list .form_input{
    margin-top: 15px;
}
.right .form_list .form input,.form_input input{
    margin-top: 5px;
}
.right .cash{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}

.right .cash .payment{
    margin-top: 15px;
}
.right .cash .radio{
    margin-top: 18px;
    margin-left: 20px;
}
.place{
    margin-top:100px;
    margin-left:350px;
    padding:10px;
    background-color: cadetblue;
    border:1px solid white;
    border-radius: 10px;
}


.place:hover{
    scale: 1.06;
}

input{
    outline: none;
}







