body{
    background-color: gray;
   font-family: 'Poppins', sans-serif;;
}

input[type=email], input[type=password] {
    display:block;
    margin-top:5px;
    border: none;
    outline: none;
    filter: brightness(0.9);
    width:280px;
    height:30px;
    border-radius: 8px;
    padding:8px;
}




.y{
    height: 530px;
    width: 400px;
    position: relative;
    left: 250px;
    top: 185px;
    background-color: white;
    

}

.y hr{
   margin-top:35px;
    color:gray
}

h1{
    position: relative;
    left: 150px;
    top:25px;
}

.mail{
    position: relative;
    left: 80px;
    top: 45px;
  
}

.pass{
    position: relative;
    left: 80px;
    top: 70px;
   
}


.create{
    position: relative;
    left: 110px;
    top: 120px;
    padding:8px 15px 8px 15px;
    border-radius: 5px;
    background-color: cadetblue;
    border:0px;
}

.forget{
    position: relative;
    left: 130px;
    top: 100px;
}

.forget a{
    color: black;
   
}

.submit{
    position: relative;
    left: 145px;
    top: 120px;
    background-color: cadetblue;
    border-radius: 5px;
    padding:8px 15px 8px 15px;
    border:0px;

}

.submit a{
    text-decoration: none;
    color: black;
}

p{
    position: relative;
    left: 160px;
    top: 120px;
}


.e{
    position: relative;
    left: 400px;
    bottom:383px;
       
}
 
img{
    height: 530px;
    width: 580px;
    background-color: white;
}

.create a{
      text-decoration: none;
      color: black;
}