body{
    background-color: gray;
}




.y{
    border: 0px solid black;
    height: 400px;
    width: 400px;
    position: relative;
    left: 300px;
    top: 225px;
    background-color: white;
    

}
h1{
    position: relative;
    left: 150px;
    top:45px;
}

.mail{
    position: relative;
    left: 80px;
    top: 70px;
  
}

.pass{
    position: relative;
    left: 80px;
    top: 90px;
   
}


.create{
    position: relative;
    left: 110px;
    top: 150px;
    padding:8px 15px 8px 15px;
    border-radius: 5px;
    background-color: cadetblue;
    border:0px;
}

.forget{
    position: relative;
    left: 130px;
    top: 130px;
}

.forget a{
    color: black;
   
}

.submit{
    position: relative;
    left: 145px;
    top: 150px;
    background-color: cadetblue;
    border-radius: 5px;
    padding:8px 15px 8px 15px;
    border:0px;
}

p{
    position: relative;
    left: 160px;
    top: 150px;
}


.e{
    position: relative;
    left: 400px;
    bottom: 232px;
}
 
img{
    height: 402px;
    width: 500px;
}

.create a{
      text-decoration: none;
      color: black;
}