*{
	margin: 0px 0px 0px 0px;
}

header{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:space-between;
	margin-bottom:-50px;
    margin-top:-30px;
    height:130px;
    background-color: blanchedalmond;
	width:100vw;
    
   
}
header div ul{
	position: relative;
	left: 35%;
	display:flex;
	flex-direction:row;
    list-style:none;
	margin-left:140px;
	padding-top:20px;
    
	

}

header div ul li a{
	
	display:flex;
	text-decoration:none;
	padding-top:0px;
	color:black;
	font-size:19px;
	padding:15px;
	
	
}

.logo img{
border-radius: 15px;
}

.logo{
	position: relative;
	top: 45px;
	left: 50px;
}

h1{
	position: relative;
	bottom: 60px;
	left: 100px;
}

.nav{
	position: relative;
	top: 40px;
}

.navigations{
    display:flex;
    padding-top:50px;
    margin-right:40px;
	position: relative;
	top: 28px;
}

.search{
    padding-right:0px;
    padding-top:-30px;
	position: relative;
	right: 20px;
	top: 3px;
}

input[type="text"]{
	height: 20px;
	width: 200px;
}

.cart{
    padding-right:30px;
}

.account {
    padding-right:30px;
}

.order{
    padding-left:30px;
}



.avatar{
	padding-top:40px;
	margin-right:10px;
	
}

.nav{
	margin-left:-450px;
	padding-bottom:35px;
	
}
.section{
	display:flex;
	margin-top: 170px;
	margin-left:80px;
}

.meenu img{
    border-radius:10px;
    margin-left:10px;
    margin-right:20px;
}

.product{
	 margin-top:60px;
	 margin-left:40px;
	
}

.product-1{
    margin-top:25px;
	margin-left:40px;

	
}

.then{
	padding:50px;
	
}

span{
	background-color:hsl(25,100%,94%);
	color:orange;
	border-radius:5px;
	padding-right:7px;
	padding-left:7px;
	
}


.sneaker{
	padding:150px;
	margin-top:25px;
	padding-top:30px;
}

h4{
	color:rgb(163, 148, 120);
	padding:9px;
	margin-left:-7px;
	font-size: 25px;
	
}

h2{
	font-size:45px;
	padding-bottom:40px;
	padding-top:40px;
	margin-top:-10px;
}


.that{
	color:white;
	background-color:cadetblue;
	border:0px;
	border-radius:7px;
	font-size:16px;
	font-weight:bold;
	padding-bottom:14px;
	padding-top:14px;
	padding-left:65px;
	padding-right:60px;
	margin-left:20px;
	
	
}

.the{
	padding-bottom:15px;
	padding-top:15px;
	padding-left:50px;
	padding-right:50px;
	border-radius:7px;
	border:0px;
	background-color:cadetblue;
	color:white;
	text-decoration:none;
   
	
	
	
}

p{
	padding-bottom:45px;
	margin-top:-55px;
	font-size:17px;
	padding-right:80px;
	padding-top:40px;
	color:hsl(220, 14%, 75%);
}

.what{
	padding:30px;
	margin-left:-35px;

}

b{
	font-size:25px;
    padding-bottom:10px;
	
}

span{
	margin-left:15px;
    padding-right:5px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:30px;
}

div s{
	color: hsl(220, 14%, 75%);
	margin-top:10px;
    font-size:18px;
	font-weight:bold;

}

.akka{
      margin-top:-15px;
	  
}

.opacity{
	border:3xpx solid orange;
}

.svg{
	
	padding-right:40px;
    padding-bottom:5px;
    	
}

.plus{
	padding-left:40px;
	padding-bottom:4px;
}

.opacity{
  
    opacity: 0.4;
	border:3px solid darkorange;
	
}