@import "normalize.css";
body{
    background-color:gray;
    margin:100px 0px 0px 70px ;
    font-family: poppins;
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
   outline: none;
    filter: brightness(0.9);

}

.container input{
    width:550px;
    border-radius:7px;
}


 
.remember{
    display: flex;

}

.remember input{
    width:15px;
    height: 15px;
    margin-right: 26px;
}

hr {
    border: 1px solid #F1F1F1;
    margin-bottom: 25px;
}

button {
    background-color:cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 16px ;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-left:30spx;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    opacity:1;
}
  
.cancelbtn {
    padding: 14px 20px;
    background-color:cadetblue;
    border-radius:8px;
    
}

.cancelbtn, .signupbtn {
    float: left;
    width:40%;
    border-radius: 8px;
  
}
  .container {
    padding: 18px;
    height:600px;
    
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
}
 div.container{
        width:40%;
        margin: auto;
        margin-left:100px;
        margin-top:45PX;
        background-color: white;
   
}

.in{
    display:flex ;
    justify-content: space-evenly;
    margin-left:80px;
    position: relative;
   
}

.it{
    margin-right:230px;
    margin-top: 45px;
 
}

