*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;	
}


	

header{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
    height:100px;
    background-color:white; 
	box-shadow:0px 2px 7px 0px #eaecef;  
   
}


.logo img{
	
   border-radius: 15px;
   margin-top:10px;

}	


.navigations{
    display:flex;
    padding-top:50px;
    margin-right:30px;
	
}


.account {
    padding-right:30px;
}

.sell{
    margin-top:150px;
    margin-left:190px;
}

.sell h1{
    margin-bottom:10px;
    margin-top:40px;
 
}

.sell .content{
     margin-bottom:50px;
}

input[type=email],input[type=password]{
    border-radius: 5px;
	border-color: transparent;
	background-color:#eaecef;
    outline: none;
    padding:6px;
    width:300px;
    margin-bottom:20px;
  
}

.forget{
    margin-bottom:10px;
}

.sign{
    padding:3px;
    width:85px;
   border-radius: 5px;
   border-color: transparent;
   background-color: cadetblue;
   margin-bottom:10px;
   cursor: pointer;
}

.sign:hover{
    scale: 1.04;
    background-color: crimson;
    color: white;
}

.total{
    display: flex;
  
}

.img{
    margin-top:60px;
    margin-left:150px;
    
}

