*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
    
header{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-content:center;
    height:100px;
    background-color:white;  
    box-shadow:0px 2px 7px 0px #eaecef;  
   
}

.log {
display: block;
width: 140px;
height: 30px;
background-color: cadetblue;
color: black;
border-radius: 6px;
border: 1px solid white;
margin-left: 10px;
}
header div ul{
    
    display:flex;
    flex-direction:row;
    list-style:none;
    margin-left:60px;
    padding-top:30px;
}

header div ul li a{
    
    display:flex;
    text-decoration:none;
    color:black;
    font-size:19px;
    padding:15px;
    
    
}

.logo img{
   border-radius: 15px;
   margin-top:10px;

}




.navigations{
    display:flex;
    padding-top:50px;
    margin-right:30px;
    
}

.search{
    padding-right:0px;
    padding-top:-30px;
    position: relative;
    right: 20px;
    


}

input[type="search"]{
    padding:4px 5px 4px 5px;
    outline: none;
    margin-bottom: 35px;
    border-radius: 5px;
    border-color: transparent;
    background-color:#eaecef;
}


.cart{
    padding-right:30px;
}


.account {
    padding-right:30px;
}

.order{
    padding-left:30px;
}

.favorite{
    padding-left:30px;
}


/*--form--*/



body .profile_details{
margin-top: 30px;
}

body .profile_details .form{
width: 30rem;
height: 34rem;
margin: auto;
border: 1px solid gray;
display: flex;
flex-direction: column;
box-shadow: 3px 3px 5px rgb(90, 88, 88);
border-radius: 15px;
}

.form .details_list{
display: flex;
flex-direction: row;
}

body .profile_details .form .profile,.details,.buttons{
margin: auto;
}

.pro .heading{
margin-top: 120px;
margin-left: 680px;
}

.form .details .list{
width: 100px;
padding-top: 10px;
}

.form .details .list_2{
width: 200px;
padding-top: 10px;
}

.form .buttons{
margin-top: 20px;
margin-bottom: 10px;
}


.form .buttons .edit-btn,.log{
padding: 5px 10px;
border-radius: 7px;
border: 2px solid white;
background-color:cadetblue;
margin-left: 280px;
}

.details input{
border-top: none;
border-left: none;
border-right: none;
outline: none;
}