*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-content:center;
    height:100px;
    background-color:white;
    box-shadow:0px 2px 7px 0px #EAECEF;
}

.logo img{
    border-radius: 15px;
    margin-top:10px;
 }


 button{
    height:30px;
	width:70px;
	margin-top:40px;
    margin-right:30px;
	background-color: cadetblue;
	border: 1px solid transparent;
	border-radius:7px;
}



 button{
    height:30px;
    width:70px;
    margin-top:40px;
    margin-right:30px;
    background-color: cadetblue;
    border: 1px solid transparent;
    border-radius:7px;
}

.total{
    height:50px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom:1px solid gray;
}

.total div{
    padding: 0px 50px;
    height: 52px;
}

.total div .list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.total .sub-heading {
    background-color:rgb(197, 191, 191);
}
.total .second-verify {
    background-color:rgb(197, 191, 191);
}

.total .second-verify .list{
  color: white;
}

.total .tax {
    background-color:orange;
 

}

.total .tax .list{
	color:white;
}


.total .dash {
    background-color:gray;

}

.total .dash .list{
	color:rgb(197, 197, 197);
}

.all{
    margin-left: 170px;
    margin-top:150px;
}

input[type=text]{
    padding:5px;
	outline: none;
  
	border-radius: 5px;
	border-color: transparent;
	background-color:#eaecef;
}

.enter{
    
}
